body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 카드에 hover 효과 추가 */
.card.hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card.hover-effect:hover {
  transform: translateY(-10px); /* 카드가 약간 위로 떠오르는 효과 */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  cursor: pointer; /* 커서가 포인터로 변함 */
}

/* 카드 본문 내 텍스트에 대한 스타일 */
.card-body {
  padding: 20px;
}
